<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--<link rel="stylesheet" href="/css/style.css">-->
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">
						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">NETFLIX 신작 NEWS</a></h1>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<!--<li><a href="right-sidebar.html">profile</a></li>-->
									<li><a href="update_profile.html">게시글 작성</a></li>
									<li><a href="login.html">Login</a></li>
								</ul>
							</nav>

					</header>
				</div>
			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div th:each="programs : ${programList} " class="col-4 col-12-medium">
								<!-- Box -->
								<section class="box feature">
									<a th:href="${programs.url}" class="image featured" target='_blank'><img th:src="${programs.image}" alt="" /></a>
									<div class="inner">
										<header>
											<h2 th:text="${programs.subject}"></h2>
										</header>
										<p th:text="${programs.genre}"></p>
										<p th:text="${programs.openType}"></p>
										<p th:text="${programs.releaseDate}"></p>
										<br>
										<p th:text="${programs.runningTime}"></p>
										<p th:text="${programs.madeBy}"></p>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>
		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/browser.min.js"></script>
		<script src="/js/breakpoints.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
	</body>
	<script>
		$(document).ready(function () {
		});
	</script>
</html>