<!-- 테스트 페이지 크롤링 데이터  -->
<div>
    <table class= "table">
        <tr>
            <th>이미지</th>
            <th>제목</th>
        </tr>
        <tr th:each="news : ${news} ">
            <td><a th:href="${news.url}"><img th:src="${news.image}"></a></td>
            <td><a th:href="${news.url}"><span th:text="${news.subject}"></span></a></td>
            <td><span th:text="${news.openType}"></span></td>
            <td><span th:text="${news.releaseDate}"></span></td>
            <td>
                <span th:text="${news.genre}"></span></td>
            </td>
            <td>
                <span th:text="${news.runningTime}"></span></td>
            </td>
            <td>
                <span th:text="${news.madeBy}"></span></td>
            </td>
        </tr>
    </table>
</div>